*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea

*.dex
*.class

bin/
gen/


*.aab
/release
*.ap_
output.json

#NDK
obj/
.externalNativeBuild

